/* 

--- 01 TYPOGRAPHY SYSTEM

SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

ONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/* Colors */
:root {
  --black: #000;
  --white: #fff;
  --black-light: #222121;

  --main-yellow: #f9f9c5;
  --point-yellow: #d5fe77;
  --point-green: #39f077;
  --point-peach: #f37878;

  --highlighter-yellow: rgba(255, 213, 0, 0.492);

  --window-red: #e15750;
  --window-yellow: #eeb335;
  --window-green: #66c03f;

  --banner-yellow: #f4f769;

  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;

  /* Shadow */
  --shadow: 4px 4px 0px -1px #000000;
  --shadow-big: 6px 6px 0px -1px #000000;

  /* Fonts */
  --main-font: 'Silkscreen', cursive;

  --sub-font: 'Just Another Hand', cursive;
  --content-font: 'Palanquin Dark', sans-serif;
  --content-font-lignt: 'Montserrat', sans-serif;
  --content-font-sub: 'Roboto', sans-serif;

  /* Size */
  --section-size: 1200px;
}

/* Global Settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  min-height: 100%;
  color: var(--black);
  background-color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-yellow);
}

section {
  background-color: var(--white);
}

a {
  all: unset;
}

/* Navbar Section */
#sec-nav {
  width: var(--section-size);
  height: 150px;
  padding: 3em 0em;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

#sec-nav nav {
  display: flex;
  align-items: center;
}

#lang-icon {
  font-size: 1.5rem;
  background-color: rgba(238, 238, 238, 0.707);
  padding: 0.5rem;
  border-radius: 50%;
}

#lang-icon:hover {
  cursor: pointer;
  background-color: var(--window-yellow);
}

.nav-title {
  font-family: var(--main-font);
  font-size: 2.5rem;
  position: relative;
}

.nav-titleContainer h1 {
  overflow: hidden;
  border-right: 0.1em solid var(--window-yellow);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

#sec-nav.navbar--dark {
  background-color: var(--window-yellow);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--window-yellow);
  }
}

.nav-navIconBox {
  background-color: var(--white);
  border: 4px solid var(--black);
  padding: 0.3em 0.3em;
  position: relative;
  right: -300px;
  box-shadow: var(--shadow);
  display: none;
}

.nav-navIconBox ion-icon {
  font-size: 1.8em;
}

#sec-nav ul {
  display: flex;
  padding: 1em;
}
#sec-nav li {
  display: inline-block;
  position: relative;
  padding-right: 1.3em;
  list-style: none;
  font-family: var(--main-font);
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 1;
}

#sec-nav li:after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 15px;
  bottom: 2px;
  left: -10px;
  background-color: #eeb335b1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -1;
}

#sec-nav li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-mywork {
  outline: none;
  border: 3px solid var(--black);
  box-shadow: var(--shadow-big);
  font-family: var(--content-font);
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 1mm;
  padding: 0.3em 2em;
  background-color: var(--white);
  transition: all 200ms ease-in-out;
}
.nav-mywork:hover {
  cursor: pointer;
  transform: translate3d(5px, 5px, 0px);
  box-shadow: none;
}

/* ----- About Me section ------ */

/* Window bar */
.windowbar {
  display: flex;
  align-items: center;
  width: var(--section-size);
  height: 30px;
  border: 5.5px solid var(--black);
  border-bottom: none;
}

.windowIcon {
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
}

.windowIcon.wrapper {
  width: 100%;
  display: flex;
}

.windowIcon.red {
  margin-left: 1em;
  background-color: var(--window-red);
}

.windowIcon.yellow {
  margin-left: 0.5em;
  background-color: var(--window-yellow);
}

.windowIcon.green {
  margin-left: 0.5em;
  background-color: var(--window-green);
}

.contact {
  display: flex;
  align-items: center;
}

.contact ion-icon {
  font-size: 23px;
  padding-right: 0.3em;
  color: var(--black);
}

.contact a:visited {
  color: var(--black);
}

.contact ion-icon:hover {
  cursor: pointer;
  opacity: 70%;
}

/* Arrow up */
.arrowUp {
  position: fixed;
  bottom: 0;
  right: 100px;
  background-color: var(--window-yellow);
  width: 50px;
  height: 50px;
  font-size: 3em;
  border-radius: 50%;
  margin-bottom: 1em;
  transition: all 200ms ease-in-out;
}

.arrowUp:hover {
  cursor: pointer;
}

.arrowUp.hidden {
  opacity: 0;
}

/* Description */
#sec-aboutme {
  display: flex;
  width: var(--section-size);
  border: 5px solid var(--black);
  text-align: left;
}

.about-descContainer {
  width: 100%;
  margin: 0;
  padding: 1em 3em 0em 2.5em;
  font-family: var(--content-font);
  font-size: 2rem;
}

.about-descContainer h1 {
  font-size: 4rem;
  margin-top: 1em;
}

.aboutme-introduction {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.4em;
}

.section-title {
  font-family: var(--main-font);
  font-size: 3rem;
  transform: rotateY(10deg);
  margin-bottom: 0.5em;
  position: relative;
  transform: rotate(-5deg);
}

.aboutme-highlighter {
  height: 20px;
  width: 9em;
  background-color: var(--highlighter-yellow);
  position: relative;
  top: 60px;
  z-index: 0;
  transform: rotate(-5deg);
}

/* Rotating part */
.rotatingText {
  font-family: var(--content-font);
  font-size: 2.5rem;
  margin-top: 0.5em;
  height: 130px;
}

.rotatingText-adjective {
  font-family: var(--content-font);
  font-size: 1.1em;
  font-style: normal;
  font-weight: 600;
  left: 0;
  margin-bottom: 0;
  margin-top: 50px;
  opacity: 0;
  position: absolute;
  right: 600px;
  text-align: center;
  text-transform: uppercase;
  top: 415px;
}

.rotatingText-adjective:nth-of-type(1) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.rotatingText-adjective:nth-of-type(2) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 1.75s;
}

.rotatingText-adjective:nth-of-type(3) {
  animation-name: rotate-last;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  20%,
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
}

@keyframes rotate-last {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.brackets {
  color: var(--window-yellow);
  font-size: 2em;
  font-weight: 200;
}

.brackets.end {
  display: inline-block;
  position: relative;
  top: -80px;
  left: 400px;
}

.sectionContentText {
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

.section-title h1,
.sectionContentText {
  letter-spacing: 1mm;
}

/* Avatar */

.about-avatar {
  border-left: 5px solid var(--black);
  width: 70%;
  display: block;
}
.about-avatar img {
  width: 100%;
  height: 100%;
}

/* College */

.aboutme-college {
  display: flex;
  align-items: center;
}

.aboutme-college img {
  width: 150px;
  height: 150px;
  margin-right: 0;
}

.aboutme-college p {
  color: var(--black-light);
  font-size: 1.2rem;
  margin-left: 1em;
}

/* ----- Yellow Banner ----- */

div.scrolling-limit {
  display: flex;
  align-items: center;
  position: relative;
  width: var(--section-size);
  height: 45px;
  background-color: var(--banner-yellow);
  overflow: hidden;
  white-space: nowrap;
  border: 5px solid var(--black);
  border-top: 0;
}

div.scrolling {
  font-family: var(--content-font);
  font-size: 1.8em;

  text-transform: uppercase;
  position: relative;
  -webkit-animation: scroll 23s infinite linear;
  -moz-animation: scroll 23s infinite linear;
  -o-animation: scroll 23s infinite linear;
  animation: scroll 23s infinite linear;
}

@keyframes scroll {
  0% {
    left: 500px;
  }
  100% {
    left: -950px;
  }
}
@-webkit-keyframes scroll {
  0% {
    left: 500px;
  }
  100% {
    left: -950px;
  }
}

/* -----Skills----- */

#sec-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--section-size);
  border: 5px solid var(--black);
  border-top: 0;
  text-align: center;
  padding: 1em 3em 0em 2.5em;
  font-family: var(--content-font);
}

#sec-skills h1 {
  font-family: var(--content-font-sub);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.skills-title {
  font-family: var(--main-font);
  font-size: 4rem;
  margin-bottom: 1em;
  width: 100%;
  position: relative;
  z-index: 1;
}

.skills-highlighter {
  height: 20px;
  width: 20em;
  background-color: var(--highlighter-yellow);
  position: relative;
  top: -80px;
  left: 4px;
  z-index: 0;
}

.skills-langContainer {
  opacity: 0;
  transition: 500ms;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}

.skills-container {
  width: 30%;
  height: 150px;
  margin-right: 1em;
}

.skills-container ion-icon {
  font-size: 4em;
}

.skills-container p {
  font-family: var(--content-font-lignt);
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
}

.skills-container img {
  width: 4em;
}

#skillBarContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  margin-left: 0;
  position: relative;
  left: -50px;
  top: -20px;
}

#skillBarContainer span {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-right: 2rem;
}

.skill span {
  font-family: var(--content-font-lignt);
}

.skill_bar {
  position: relative;
  background-color: rgba(150, 150, 150, 0.358);
  border-radius: 5px;
  height: 15em;
  width: 3rem;
}

.skill_value {
  position: absolute;
  bottom: 0;
  transform: rotateX(180deg);
  background-color: var(--window-yellow);
  width: 3rem;
  animation-duration: 3s;
}

.skill_value.html {
  height: 99%;
}

.skill_value.css {
  height: 90%;
}

.skill_value.js {
  height: 75%;
}

.skill_value.react {
  height: 60%;
}

.skill_value.ts {
  height: 40%;
}
@keyframes html {
  from {
    height: 0;
  }

  to {
    height: 99%;
  }
}

@keyframes css {
  from {
    height: 0;
  }

  to {
    height: 90%;
  }
}

@keyframes js {
  from {
    height: 0;
  }

  to {
    height: 75%;
  }
}

@keyframes react {
  from {
    height: 0;
  }

  to {
    height: 60%;
  }
}

@keyframes ts {
  from {
    height: 0;
  }

  to {
    height: 40%;
  }
}

#skillsSecond {
  display: flex;
  align-items: center;
  justify-content: center;
}

#illustration_skills {
  height: 350px;
}

#illustration_computer {
  width: 250px;
  position: relative;
  top: -300px;
  left: 50px;
}

#illustration_background {
  width: 350px;
}

.illustration_star {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.illustration_star.big {
  animation-name: star_big;
  position: relative;
  top: -200px;
  left: 80px;
}

.illustration_star.small {
  animation-name: star_small;
  position: relative;
  top: -20px;
  left: 300px;
}

@keyframes star_big {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes star_small {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}

/* ----- Tools Section ----- */

#sec-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--section-size);
  border: 5px solid var(--black);
  border-top: 0;
  text-align: center;
  padding: 0;
  font-family: var(--content-font);
}

#sec-tools img {
  width: 50%;
  margin: 0;
  border-left: 4px solid var(--black);
}

#sec-tools video {
  width: 50%;
  margin: 0;
}

/* ----- My Work ----- */

#sec-mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--section-size);
  border: 5px solid var(--black);
  border-top: 0;
  text-align: center;
  padding: 1em 3em 0em 2.5em;
  font-family: var(--content-font);
}

.mywork-title {
  font-family: var(--main-font);
  font-size: 4rem;
  margin-bottom: 1em;
  width: 100%;
  position: relative;
  z-index: 1;
}

.mywork-highlighter {
  height: 20px;
  width: 24em;
  background-color: var(--highlighter-yellow);
  position: relative;
  top: -83px;
  z-index: 0;
}

.mywork-projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.mywork-btnContainer {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.mywork-btn {
  font-family: var(--content-font-lignt);
  background-color: #ecdc4b;
  padding: 0.5em 1em;
  margin: 0.3em;
  font-weight: 300;
  border-radius: 5px;
}

.mywork-btn:hover {
  cursor: pointer;
  opacity: 70%;
}

.findCarrotImg {
  width: 45%;
  position: relative;
  transition: top 300ms ease-in-out;
}

.findCarrotImg:hover {
  top: -10px;
}

.mywork-projectDescContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 200px;
  position: relative;
  border-radius: 30px;
}

.findCarrotImg.first {
  animation-duration: 400ms;
}

.findCarrotImg.second {
  animation-duration: 400ms;
}

.mywork-projectDescContainer.first {
  animation-duration: 400ms;
}

.mywork-projectDescContainer.second {
  z-index: 1;
  animation-duration: 400ms;
}

.mywork-projectDescContainer h3 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mywork-projectDescContainer span {
  font-weight: 600;
  font-family: var(--content-font-lignt);
  font-size: 1rem;
  color: rgb(63, 63, 63);
}

.mywork-projectDescContainer p {
  padding: 1em;
  font-family: var(--content-font-sub);
  font-weight: 300;
}

.mywork-projectDescContainer ion-icon {
  font-size: 1.8rem;
  transition: color 100ms ease-in;
}

.mywork-projectDescContainer ion-icon:hover {
  cursor: pointer;
  color: var(--window-yellow);
}

#sec-mywork li {
  list-style: none;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ----- Testimonials ----- */

#sec-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--section-size);
  border: 5px solid var(--black);
  border-top: 0;
  border-bottom: 0;
  text-align: center;
  padding: 1em 3em 6em 2.5em;
  font-family: var(--content-font);
}

.testimonials-title {
  font-family: var(--main-font);
  font-size: 4rem;
  margin-bottom: 1em;
  width: 100%;
  position: relative;
  z-index: 1;
}

.testimonials-highlighter {
  height: 20px;
  width: 35em;
  background-color: var(--highlighter-yellow);
  position: relative;
  top: -80px;
  z-index: 0;
}

.testimonialsImg {
  height: 300px;
}

.testimonials-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 400ms;
}

.testimonials-text {
  padding: 2rem;
  background-color: var(--highlighter-yellow);
  border-radius: 10px;
}

.testimonials-text #sec-testimonials p {
  font-family: var(--content-font-sub);
}

.testimonials-text-name {
  color: #eeb335;
}

/* -----Contact ------ */
#sec-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--section-size);
  text-align: center;
  padding: 1em 3em 0em 2.5em;
  border: 5px solid var(--black);
  border-top: 0;
  font-family: var(--content-font);
  background-color: var(--highlighter-yellow);
}

#sec-contact h1 {
  font-family: var(--main-font);
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#sec-contact h2 {
  font-family: var(--content-font-sub);
}

#sec-contact ion-icon {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 3rem;
}

#sec-contact ion-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--window-yellow);
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-family: var(--content-font-lignt);
  font-size: 0.9em;
  border-radius: 10px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.resumeLogo:hover .tooltiptext.resume {
  visibility: visible;
  z-index: 1;
}

.blogLogo:hover .tooltiptext.blog {
  visibility: visible;
  z-index: 1;
}

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
} */

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;

    /* Width */
    --section-size: 700px;
  }

  body {
    zoom: 50%;
    font-size: 0.5rem;
  }

  section {
    width: var(--section-size);
  }

  /* Nav bar */
  nav {
    position: fixed;
    font-size: 1.3rem;
    background-color: var(--window-yellow);
    width: var(--section-size);
    padding: 1em;
    z-index: 2;
    height: 300px;
    text-align: center;
    flex-direction: column;
    transition: all 200ms ease-in-out;
  }

  #sec-nav.scrolling {
    height: 100px;
    padding-bottom: 0;
    background-color: var(--main-yellow);
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 100ms ease-in-out;
  }

  .nav-titleContainer h1 {
    margin-top: 0.4em;
  }

  #nav-burgermenu {
    z-index: 2;
    font-size: 4.5rem;
    right: 50px;
  }

  .nav-closemenu {
    z-index: 2;
    font-size: 4rem;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #nav-burgermenu:hover,
  .nav-closemenu:hover {
    cursor: pointer;
    opacity: 30%;
  }

  #lang-icon {
    font-size: 3rem;
    right: 150px;
    margin-bottom: 0;
  }

  #sec-nav ul {
    flex-direction: column;
  }

  #sec-nav li {
    line-height: 3rem;
    font-size: 1.5rem;
    padding: 0;
  }

  #sec-nav .nav.hidden {
    display: none;
  }

  #sec-aboutme {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-avatar {
    text-align: center;
    margin: auto;
    border: none;
  }

  .about-avatar img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 2em;
  }

  #illustration_skills {
    display: none;
  }

  .skill span {
    font-size: 1rem;
  }

  .skills-langContainer {
    display: flex;
    align-content: space-around;
  }

  .skills-container ion-icon {
    font-size: 8em;
  }

  .skills-container img {
    width: 7em;
  }

  .testimonials-text {
    margin-bottom: 2em;
  }

  .testimonials-text p {
    font-size: 1.5rem;
  }

  .skills-title,
  .mywork-title,
  .testimonials-title {
    font-size: 3rem;
  }

  .skills-highlighter,
  .mywork-highlighter,
  .testimonials-highlighter {
    top: -70px;
  }

  .skills-highlighter {
    width: 25em;
  }

  .mywork-highlighter {
    width: 30em;
  }

  .mywork-projectContainer {
    display: inline-block;
  }

  .mywork-projectContainer img {
    width: 500px;
  }

  .mywork-projectDescContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    width: 100%;
  }

  .mywork-projectDescContainer span {
    font-size: 3em;
  }

  .mywork-projectDescContainer h3 {
    font-size: 5em;
  }

  .mywork-projectDescContainer p {
    font-size: 2.5em;
  }

  .mywork-btn {
    font-size: 3em;
  }

  .mywork-projectContainer.second {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 7em;
  }

  .mywork-projectDescContainer.second {
    left: 0;
    margin-top: 3rem;
  }

  .findCarrotImg {
    margin-top: 1em;
  }

  .findCarrotImg.second {
    margin-bottom: 0;
  }

  .testimonials-highlighter {
    width: 55em;
  }

  .skills-langContainer p {
    font-size: 0.8rem;
  }

  div.scrolling {
    font-size: 3em;
  }

  .arrowUp {
    display: none;
  }
}

#nav-closemenu.hidden {
  display: none;
}

#nav-burgermenu.hidden {
  display: none;
}
